body{
    background-color: #A78BFA ;
}
nav{
    background-color: #F5D76E;
    top: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    
}
section{
    background: linear-gradient(to right, #A78BFA, #D58D8D);
}
#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    margin-top: 10px;
}
#szerk{
    display: flex;
    flex-direction: row;
}
#felosztas{
    display: flex;
    flex-direction: column;
}
#about{
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    min-width: 400; 
    flex-direction: row;
}
#profilkep{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
}
#main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
#felso{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    align-items: center;
    gap: 10px;
      
}
a{
    text-decoration: none;
}
.btn{
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    color: aqua;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
blockquote{
    border-left: 2px solid blue;
    font-size: large ;
    padding: 50px 30px 50px 30px;
}
#logo{
    display: flex;
    font-weight: 100;
    align-items: center;
}

/*Az innerhtml rész innen kezdődik*/

#kepdiv{
    width: 40%;
}
#munkakep{
    max-width: 800px;
    max-height: 600px;
}
#infodiv{
    margin-left: 50px;
}
#portfolio{
    gap: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

}
   