body{
    background-color: aquamarine;
}
nav{
    background-color: aqua;
}
section{
    background-color: blanchedalmond;
}
#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
#felso{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    gap: 10px;
      
}
a{
    text-decoration: none;
}
.btn{
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    color: aqua;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
blockquote{
    border-left: 2px solid blue;
    font-size: large ;
}
#logo{
    display: flex;
    font-weight: 100;
    align-items: center;
}

   